/* a comment just looks different in css */
/* 

/* target an element(s) */
/* body {
  /* give it style rules */
  /* background-color: pink 
} */

/* target an element with a specific id: use # */
/* #example-box {
  background-color: purple
} */ 

/* 
Building Block

selector {
  property; value;
}

selector: a way for css to target or "select: certain elements from the HTML document
property: what are we changing about the element(s) we have selected
value:  how the property is going to change / what do we want that property to do (this will change depending on what property is being affected)
*/
/* no symbols first = tag */
nav {
  background-color: #d2d2d2;
  /* 
  - preset color: red, blue, pink, etc.
  - Hexidecimal
    - 16 digits: 0-9 A-F
    - ex: #d2d2d2
  - rgb & rgba (red, green, blue, alpha)
    - alpha determines transparency
    ex: rgba(200, 15, 100, .5)  
  */
  overflow: hidden;
}

/* 
(dot).symbol first = class 
*/
.btn {
 float: right;
 /* padding-right: 16px;
 padding-left: 16px;
 padding-top: 14px;
 padding-bottom: 14px; */
 /* top/bottom  right/left  NESW order/clockwise*/
 padding: 14px 16px;
 /* 
  Padding property:
  1 input - all sides
  2 inputs - top/bottom right/left
  3 inputs - top right/left bottom
  4 inputs - top right bottom left
*/
text-decoration: none;
color: black; 
color: orange;
font-size: 17px;
}

/* 
# symbol first=id
 */
 #home {
  float: left;
  padding: 14px 10px;
  /* border: 2px solid black; */
  /* background-color: lightcoral; */
 }

 /* 
   CSS Hierarchy
   - !important
   - Inline CSS
   - ID Selectors
   = Class Selectors
   - Elements
 */

 /* 
 Compound Operators:
 >  Refers to direct children of an element
 ,  Multiple selectors share a style rule
 +  Immediate sibling of an element
 -  Subsequent sibling of an element
 */

 nav .btn {
/* select anything with the class "btn" that is within a tag <nav> */
/* this is different than using > to compound the selector */
 text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
 }

 /* when I use a comma, it ENDS the selector statement. I must restart a NEW selector */
 div .paragraph > p, div .paragraph > h3 {
  color: red
 }

 /* hover psuedo-class */
 a:link {
  color:blue;
 }

 a:hover {
  color: green;
 }

 h3:hover {
background-color: pink;
 }

 a:visited {
  color: tan;
 }

 a:active {
color: greenyellow;
text-shadow: 2px 2px 2px rgba(0,0,0,0.5)
 }
